djangorestframework
pyyaml
django-cors-headers
django-phonenumber-field[phonenumbers]
Pillow
gunicorn
Django==4.1.4
markdown 
django-filter
stripe
django-crontab
djangorestframework-simplejwt
PyJWT==2.1.0
django-imap-backend
django-push-notifications[WP,APNS]
django-paypal
django-taggit
nanoid
pytest-django