{
	email admin@proaceintl.com
	servers {
		trusted_proxies static private_ranges
	}
}

www.{$PUBLIC_DOMAIN} {
	redir https://{$PUBLIC_DOMAIN}{uri} permanent
}

{$PUBLIC_DOMAIN} {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	@backend path /admin* /static* /media* /health/live/ /health/ready/
	handle @backend {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy client:3000
	}

	log {
		output stdout
		format json
	}
}
